<%= content_for(:title, "WebMenue - Dashboard") %>

<div class="container-fluid">
    <div class="intro mt-4 border-bottom">
        <h2 class="text-center">Heutige Menüauswahl</h2>
        <p class="text-center">Hier können Sie Ihre heutige Essensauswahl treffen!</p>
    </div>
    <div class="row row-cols-xl-3 row-cols-md-3 row-cols-sm-1 g-4 mt-2">
        <% @meals.each.with_index(1) do |meal, idx| %>
            <%= render(MealCardComponent.new(meal: meal)) do |c| %>
                <% c.index do %>
                    <%= idx %>
                <% end %>
            <% end %>
        <% end %>
    </div>
</div>