<%= content_for(:title, "WebMenue - Dashboard") %>

<div class="container-fluid">
    <div class="intro">
        <h2 class="text-center">Heutige Menüauswahl</h2>
        <p class="text-center">Hier können Sie Ihre heutige Essensauswahl treffen!</p>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4">
    </div>
</div>